<div>test main page</div>

<div class="slidecontainer">
  <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
</div>


<body>
    <div id="sliderContainer2">
        <label for="rangeSlider">Test:</label>
        <input type="range" id="rangeSlider" min="0" max="100" value="50" step="1">
        <div id="output">Name 2</div>
    </div>
</body>

<body class="_backgrond">
  <div class="_container">
    <div class="_row">
      <div class= "col-12">
        <input type="range" min="1" max="3" class= "_my-own-range-slide">
        <datalist>
          <option name="Home" label="0%">Home</option>
          <option name="About" label="50%">About</option>
          <option name="Project" label="100%">Project</option>
        </datalist>
      </div>
    </div>
  </div>
</body>
