<div>test main page</div>

<div class="slidecontainer">
  <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
</div>


<body>
    <div id="sliderContainer2">
        <label for="rangeSlider">Test:</label>
        <input type="range" id="rangeSlider" min="0" max="100" value="50" step="1">
        <div id="output">Name 2</div>
    </div>
</body>
