// gem's //
@import '../../../node_modules/bootstrap/scss/bootstrap';
@import "font-awesome";

// component //
@import "component/container";
@import "component/row";
@import "component/colours";
@import "component/background";

// range slide //
@import "range-slide";
@import "range-slide2";
@import "my-own-range-slide"
