// gem's //
@import '../../../node_modules/bootstrap/scss/bootstrap';
@import "font-awesome";

// component //
@import "component/_background";
@import "component/_container";
@import "component/_row";

// _navi_bar //
@import "component/_navi-bar";
