._navi-bar {
  padding: 2px;
  overflow: hidden;
  background-color: #92969d;
  border-radius: 40px;
  margin: 20px;
  margin-right: 15px;
  border: 10px solid black;
  height: 4rem;
  width: 30rem;
  position: static;
}
